* {
    margin: 0;
}

body {
    font-family: 'Teko', sans-serif;
    background-color: rgb(209, 190, 151);
}

.powerBallHeading, .playerNumHeading {
    text-align: center;
    font-size: 50px;
}

.numbers {
    display: flex;
    flex-direction: row;
    width: 50%;
    text-align: center;
    margin: 0 auto;
}

.pnumbers {
    display: flex;
    flex-direction: row;
    width: 50%;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 20px;
}

.ballNum {
    flex: 1;
    height: 80px;
}

.imgBall {
    background-image: url(img/whiteball.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.powerballimg {
    background-image: url(img/redball.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.inputNumber {
    text-align: center;
}

.playerMoney, .play {
    text-align: center;
    font-size: 28px;
}

.ballsInput {
    width: 50px;
}

.container {
    display: flex;
    flex-direction: row;
    margin-top: 2%;
}

.rules {
    flex: 1;
}

.rulesHeading {
    margin-left: 4%;
}

.wins {
    flex: 1;
    text-align: center;
}

.powerballs {
    margin: 3% 20% 0 20%;
    background-color: rgb(184, 182, 180);
    padding-bottom: 40px;
    border-radius: 20px;
    box-shadow: 0px 3px 15px rgba(0,0,0,0.2);
}

.holder {
    line-height: 70px;
}

.holderP {
    line-height: 70px;
    color: white;
}